[Unit]
Description=Check for changes made to the boot partition since shutting down
Requires=basic.target
After=basic.target

[Service]
Type=oneshot
ExecStart=/usr/bin/chkboot

[Install]
WantedBy=multi-user.target
