Source: chkboot
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: shells
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), dh-systemd
Vcs-Git: https://github.com/philippmeisberger/chkboot.git

Package: chkboot
Depends: ${misc:Depends}, lsb-base
Recommends: zenity
Architecture: all
Description: Runs integrity checks on unencrypted /boot files during boot
 chkboot is a set of scripts that are meant to be run on a system with
 an encrypted disk drive. Due to the nature of disk encryption, in
 order to get the operating system to boot, there needs to be a portion
 of it which remains un-encrypted. These scripts check that those files
 have not changed between reboots.  Since the scripts and the data they
 generate are stored on the encrypted part of the disk, any attempts to
 modify the boot partition between reboots will be detected.
